.main-container {
  display: flex;
  justify-content: space-between;
  background: #fcfcfc;
  border-top: 2px solid rgb(228, 223, 223);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 70%;
  width: 100%;
}

.big-container{
  height: 1000px;
}